* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  font-weight: 500;
}

html {
  font-size: 10px
}

body {
  height: 100vh;
  background-color: #181818;
  display: grid;
  place-items: center;
  font-size: 2rem;
  color: white;
}

input {
  width: 5rem;
}

p {
  text-align: center;
  font-size: 4.8rem;
}




